BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach  # Скобки на той же строке
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
